h1{
    background: green;
}
.paragraph-1{
    font-weight: bold;
    font-family:Courier;
    font-style: italic;
    box-shadow: 0.4em 0.4em 5px rgba(64, 255, 0);
}

.paragraph-2 {
    border: red solid 5px;
    border-radius: 50px;
/**     margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin: 50px; */
    margin: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding: 50px;
    box-shadow: 0.4em 0.4em 5px rgba(64, 255, 0);
}
.paragraph-3 {
    font-style: italic;
    text-align: center;
    font-size: 24px;
    box-shadow: green;

}